<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.2.1" targetFramework="net481" />
  <package id="EXILED" version="8.2.1" targetFramework="net481" />
  <package id="Pooling" version="1.0.0.3" targetFramework="net481" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net481" />
</packages>